.App {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, rgb(84, 51, 255), rgb(32, 189, 255), rgb(165, 254, 203));}

.Cards {
    display: flex;
    flex-wrap: wrap;
}